@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    font-family: sans-serif;
}
.head { 
    /*Estilos de la barra de infomacion*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: #FFF;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0.1rem .2rem 2rem black;
}
.navbar {
    display: flex;
    margin-right: 50px;
    font-size: 26px;
}
.logo {/*Estilos de el logo*/
    margin-left: 30px;
    font-size: 18px;
} 
.sau{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10vh;
    width: 1200px;
    height: 400px;
}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.icon-ti-gold{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.icon-home{
    margin: 11px;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 20px;
}
.ti-gold{
    margin: 12px;
    margin-left: -12px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.box .gold-c1{
    display: flex;
    color: #FFCE45;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.box .gold-c2{
    display: flex;
    color: #FFD95A;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.box .gold-c3{
    display: flex;
    color: #C07F00;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.box .gold-c4{
    display: flex;
    color: #FFD966;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.box .gold-c5{
    display: flex;
    color: #FFE15D;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.icon-ti-vintage{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.ti-vintage{
    margin: 12px;
    margin-left: -12px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.box .vintage-c1{
    display: flex;
    color: #D6E8DB;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.box .vintage-c2{
    display: flex;
    color: #537188;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.box .vintage-c3{
    display: flex;
    color: #E1D4BB;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.box .vintage-c4{
    display: flex;
    color: #99A98F;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.box .vintage-c5{
    display: flex;
    color: #C1D0B5;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.icon-ti-dark{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.ti-dark{
    margin: 12px;
    margin-left: -12px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.box .dark-c1{
    display: flex;
    color: #0C134F;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.box .dark-c2{
    display: flex;
    color: #1D267D;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.box .dark-c3{
    display: flex;
    color: #5C469C;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.box .dark-c4{
    display: flex;
    color: #D4ADFC;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.box .dark-c5{
    display: flex;
    color: #643A6B;
    margin: 15px;
    margin-left: 40px;
    width: 190px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.box-container .box{
    height: 16rem;
    width: 17rem;
    background: white;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .2rem 2rem black;
    margin: 1.5rem;
}
.box-container .box span{
    display: flex;
    height: 18px;
    width: 18px;
    margin-right: 10px;
    line-height: 0.9rem;
    text-align: center;
    border-radius: 10%;
    font-size: 1.1rem;
}
.box-container .box p{
    padding: 0 15px;
    font-size: 16px;
}
p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100;
}
